* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/*img {
 float: left;
}*/
hr {
    height: 1px;
    background-color: darkgreen;
    border: none;
}
address {
    width: 100%;
    border-top: 1px darkgreen solid;
    margin-top: 2rem;
}
main {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

main > img {
    width: 20%;
    height: 100%;
    margin-right: 2rem;
}
main > :not(img) {
    width: 60%;
}

h1 {
    color: #0000FF;
}
li {
    margin-bottom: 0.75rem;
}